body {
  margin: 0;
  background-color: rgb(57,58,62);
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table, td, th {
  border: 2px solid #555;
  border-collapse: collapse;
  padding: 0.1rem 0.5rem;
}

ul {
  padding: 0;
  list-style: none;
}

#menus {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

.menu {
  background-color: rgb(31,33,36);
  color:rgb(255, 255, 255);
  margin: 0.5rem;
  padding: 1rem;
  width: 28%;
  border-radius: 2rem 0.2rem 0.2rem 0.2rem;
  box-shadow: 0.5rem 0.5rem 1rem rgba(0,0,0,0.3);
}

.menu-name {
  margin: 0rem;
  color:rgb(255, 255, 255);
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
}

.menu-line {
  border: 1px solid rgb(154,47, 122);
  width: 20%;
}

button {
	background-color: rgb(154,47, 122);
	border-radius: 5%;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
	border:1px solid rgb(131, 41, 104);
	cursor:pointer;
	color:#ffffff;
	text-decoration:none;
}
button:hover {
	background-color:rgb(175, 53, 138)
}

button:active {
	background-color:  rgb(131, 41, 104);
	position:relative;
	top:1px;
}

.items {
  height: 30rem;
  border: 2px solid black;
  overflow: scroll;
  padding: 0.25rem;
}

.item {
  border: 2px solid black;
}

label {
  display: block;
}

#modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  color: black;
  background: rgba(0,0,0,0.3);
}

#new-ticket-modal {
  position: relative;
  z-index: 2;
  width: 50%;
  margin: 0 auto;
  top: 30%;
  border: 0.1rem solid black;
  background: white;
}